include pyproject.toml
include versioneer.py
include stellar-learn/_version.py
include src/stlearn/_version.py

# Include the README
# include *.md

# Include the license file
# include LICENSE.txt

# Include the data files
# recursive-include data *
